.bar-container{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;  
    height: fit-content;
    margin-top: -10px;  
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    z-index: 100; 
    transition: transform 0.3s ease-in-out;

}

.visible {
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.437);


  }
  
  .hidden {
    transform: translateY(-100%);
  }
  
.bar{
    font-size: 1.3rem;
    margin: 0;

}

.bar:hover{
    cursor: pointer;
    color: rgb(82, 82, 134);
}



@media (max-width: 1024px) {
  .bar-container {
      gap: 2rem;
      padding: 0.5rem;
  }

  .bar {
      font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .bar-container {
      padding: 0.5rem;
  }

  .bar {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .bar-container {
      padding: 0.5rem;
  }

  .bar {
      font-size: 0.9rem;
  }
}
