.container-gallery{
  background-image: url("../../assets/background-gallery.png");
  /* background: linear-gradient(to bottom, rgba(50, 50, 50, 0.378) 1%, rgba(255, 255, 255, 0.565) 50%,rgba(255,255,255,0) 100%);; */
object-fit: fill;

}

.photo-album-div{
margin: 2rem 1rem 0   ;   
position:relative;

 }


.react-photo-album--photo{
/* margin-bottom: 3px; */
   box-shadow: 1px 2px 2px #00000089;
   
}

.react-photo-album--photo:hover{
    transform: scale(1.1);
    transition: ease-in 0.3s;
}

.react-photo-album--column{
    margin: 2px;
border-spacing: 3px;
}

.react-photo-album--row{
    margin: 2px;
}

.who{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.bn13{
  margin: 2rem 1rem  ;   

}