/* make variables */
:root {
    --appColor:  rgb(35, 53, 88);
    --details: #11134480;
  }
  body{
    margin: 0;
    padding: 0;
  }
  
  .App {
    background-color: rgb(0, 0, 0) ;
    display: flex;
    flex-direction: column;
    font-family: monospace, monospace;
    /* gap: 1rem; */
    overflow: hidden;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  
  .stroke-text{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:white ;
  }
  
 
  
  .btn:hover{
    cursor: pointer;
  }
  

  
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  /* button from here */
.bn13 {
     padding: 0.65em 1.6em;
     border:none ;
     /* background-color: #EBDBB2; */
     background: linear-gradient(to right, rgba(255, 255, 255, 0.199) 2%,rgba(255,255,255,0.65) 20%,rgba(255,255,255,0.01) 97%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%);
     border-radius: 0.12em;
     box-sizing: border-box;
     font-family: monospace, monospace;
     font-weight: 550;
     font-size: 1rem;
     color: rgb(255, 255, 255);
     text-align: center;
     transition: all 0.2s;
     animation: bn13bouncy 3s infinite linear;
     position: relative;
   }
   
   .bn13:hover {
     /* background-color: white; */
     color: #000000;
     border: none;
     cursor: pointer;
     background: linear-gradient(to right, rgba(57, 57, 57, 0.462) 1%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
 
   }
   
   @keyframes bn13bouncy {
     0% {
       top: 0em;
     }
     40% {
       top: 0em;
     }
     43% {
       top: -0.9em;
     }
     46% {
       top: 0em;
     }
     48% {
       top: -0.4em;
     }
     50% {
       top: 0em;
     }
     100% {
       top: 0em;
     }
   }
 /* button up to here */

 
  
 .navbar-links {
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 1s ease-in-out forwards;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.links {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar-links div {
  font-size: 18px;
  margin-top: 10px;
}

.expanded .navbar-links {
  display: flex;
}